 <div class="container-fluid mt-5 about-style" id="aboutid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">About Us</h1>
          <p class="text-center sub-heading">Grow your Business with Us</p>
            <div class="row">
              <div class="col-md-6 col-12 hero-text">
                    <figure>
                      <img src="images/about.svg" alt="aboutsection" >
                    </figure>
                </div>      
              {{!-- Right side --}}
                <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                    <h1>WE ARE PROFESSIONAL DEVELOPERS</h1> 
                    <p>Welcome to <span class="bold-style">User.</span>Your number one source of All things.We are dedicated to give you The very best of Work, With a focus on three Characteristics [Dependibilty,Customer Serivce and Uniqueness]. </p>
                    <button class="btn-style btn-primary">Read More</button>
                </div>
            </div>
        </div>
      </div>
  </div>

