<div class="container-fluid mt-5 about-style" id="contactid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">Contact Us</h1>
          <p class="text-center sub-heading">We Will be Happy to Assit you!</p>
            <div class="row">
              <div class="col-md-6 col-12 hero-text">
                <form action="/contact" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter your Name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your Email" name="email" required>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="number" class="form-control" id="phone" placeholder="Enter your Phone Number" name="phone" required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <input type="text" class="form-control" id="message" placeholder="Message" name="message">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
        </div>
    </div>
</div>

