  <div class="container-fluid mt-5">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                    <h1>WE WILL HELP YOU</h1>
                    <h1>GROW YOUR BUSINESS</h1>
                    <p>We are a Team of <span class="bold-style">Professional Developers</span> </p>
                    <button class="btn-style btn-primary">Read More</button>
                </div>
              {{!-- Right side --}}
                <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                    <figure>
                      <img src="images/growth.svg" alt="herosection" >
                    </figure>
                </div>
            </div>
        </div>
      </div>
  </div>
