<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30274.797486904128!2d73.87293959865696!3d18.467813143306813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2ea8a75f1ed4f%3A0xcc6015e2f426fa4a!2sKondhwa%2C%20Pune%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1686315197459!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>